<h4>Saavutused</h4>
<table>
  <thead>
    <tr>
      <th>Pealkiri</th>
      <th>Kirjeldus</th>
      <th>Viimati muudetud</th>
      <th>Redigeeri</th>
      <th>Kustuta</th>
      <th>Avalik</th>
    </tr>
  </thead>
  <tbody>
    <% for(let {id, title, description, last_changed, published} of
    achievements) { %>
    <tr>
      <td><%= title %></td>
      <td><%= description.substring(0, 50) %></td>
      <td><%= moment(last_changed) %></td>
      <td>
        <a
          href="/admin/edit_achievement/<%= id %>"
          target="_blank"
          rel="noopener noreferrer"
          class="btn orange"
          >Redigeeri</a
        >
      </td>
      <td>
        <form
          method="POST"
          action="/admin/del_ach"
          onsubmit="return confirm('Kindel, et kustutada <%= title %>?')"
        >
          <input type="hidden" name="id" value="<%= id %>" />
          <input type="submit" value="Kustuta" class="btn red" />
        </form>
      </td>
      <td>
        <form method="post" action="/admin/toggle_ach_published">
          <input type="hidden" name="id" value="<%= id %>" />
          <div class="switch">
            <label>
              Off <% if(published) { %>
              <input type="checkbox" onchange="this.form.submit()" checked /> <%
              } else { %>
              <input type="checkbox" onchange="this.form.submit()" /> <% }%>
              <span class="lever"></span> On
            </label>
          </div>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<a class="btn modal-trigger green" href="#add_ach_modal"> Lisa uus saavutus </a>
<div class="modal" id="add_ach_modal">
  <h5>Lisa uus saavutus</h5>
  <form action="/admin/add_ach" method="POST">
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" name="id" id="add-ach-id" required /></td>
      </tr>
      <tr>
        <td>Pealkiri</td>
        <td><input type="text" name="title" id="add-ach-title" required /></td>
      </tr>
      <tr>
        <td>Kirjeldus</td>
        <td>
          <div class="input-field">
            <textarea
              id="add-ach-desc"
              name="description"
              class="materialize-textarea"
            ></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td><input type="submit" value="Lisa" class="btn green" /></td>
      </tr>
    </table>
  </form>
</div>
