<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/admin.css">
	<% include ../imports/head.ejs %>
	<title><%= exercise.title %> > Admin > <%= pageTitle %></title>
	<script src="/js/admin.min.js"></script>
	<script src="/js/edit_exercise.js"></script>
	<script>
		<% const data = JSON.stringify(exercise);%>
		const exercise = JSON.parse('<%- data %>');
	</script>
</head>
<% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>

<body>
	<div class="container">
		<h5>Ülesanne: <%= exercise.title %></h5>
		<div>
			<p>Andmed</p>
			<table>
				<thead>
					<th>Nimi</th>
					<th>Ühik</th>
					<th>Min</th>
					<th>Max</th>
					<th>Halda</th>
				</thead>
				<tbody id="variables_body">
					<% for(let variable of exercise.variables) { %>
					<tr id="variable-details-<%= variable.id %>">
						<td id="variable-name-<%= variable.id %>"><%= variable.name %></td>
						<td id="variable-unit-<%= variable.id %>"><%= variable.unit %></td>
						<td id="variable-min-<%= variable.id %>"><%= variable.min %></td>
						<td id="variable-max-<%= variable.id %>"><%= variable.max %></td>
						<td>
							<a class="modal-trigger" href="#update_variable_modal"
								onclick="updateVariable(<%= variable.id %>)">
								<i class="material-icons manage-edit">edit</i>
							</a>
							<a onclick="deleteVariable(<%= variable.id %>);" class="manage-button">
								<i class="material-icons manage-delete">delete</i>
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<a class="modal-trigger" href="#new_variable_modal" onclick="newVariable()">
				<i class="material-icons manage-launch">add</i>
			</a>
		</div>
		<div>
			<p>Variandid</p>
			<table>
				<thead>
					<th>Tekst</th>
					<th>Valem</th>
					<th>Halda</th>
				</thead>
				<tbody id="variants_body">
					<% for(let variant of exercise.variants) { %>
					<tr id="variant-details-<%= variant.id %>">
						<td id="variant-text-<%= variant.id %>">
							<%= variant.text.length > 20 ? (variant.text.substring(0, 20) + '...') : variant.text %>
						</td>
						<td id="variant-formula-<%= variant.id %>"><%= variant.formula %></td>
						<td>
							<a class="modal-trigger" href="#update_variant_modal"
								onclick="updateVariant(<%= variant.id %>)">
								<i class="material-icons manage-edit">edit</i>
							</a>
							<a onclick="deleteVariant(<%= variant.id %>);" class="manage-button">
								<i class="material-icons manage-delete">delete</i>
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<a class="modal-trigger" href="#new_variant_modal" onclick="newVariant()">
				<i class="material-icons manage-launch">add</i>
			</a>
			<p>Avalik: <br>
				<a onclick="switchPublished()" class="<%= exercise.published ? 'manage-launch' : 'manage-delete' %>"
					id="published_toggle_a">
					<i class="material-icons" id="published_toggle"><%= exercise.published ? 'toggle_on' : 'toggle_off' %></i>
				</a>
			</p>
			<p>Punktid: <%= exercise.points %></p>
			<p>
				<input type="button" class="btn green" value="Salvesta" onclick="save()">
      </p>
		</div>
	</div>
	<div class="modal" id="update_variable_modal">
		<h5>Muuda andmeid</h5>
		<table>
			<tr>
				<td>Nimi</td>
				<td><input type="text" name="name" id="update_variable_modal_name" required /></td>
			</tr>
			<tr>
				<td>Ühik</td>
				<td><input type="text" name="unit" id="update_variable_modal_unit" required /></td>
			</tr>
			<tr>
				<td>Min</td>
				<td><input type="text" name="min" id="update_variable_modal_min" required /></td>
			</tr>
			<tr>
				<td>Max</td>
				<td><input type="text" name="max" id="update_variable_modal_max" required /></td>
			</tr>
		</table>
		<a class="modal-close" id="update_variable_modal_save" href="#update_variable_modal" onclick="saveVariable()">
			<i class="material-icons manage-launch">done</i>
		</a>
		<a class="modal-close" href="#update_variable_modal" onclick="discardVariable()">
			<i class="material-icons manage-delete">clear</i>
		</a>
	</div>
	<div class="modal" id="new_variable_modal">
		<h5>Andmed</h5>
		<table>
			<tr>
				<td>Nimi</td>
				<td><input type="text" name="name" id="new_variable_modal_name" required /></td>
			</tr>
			<tr>
				<td>Ühik</td>
				<td><input type="text" name="unit" id="new_variable_modal_unit" required /></td>
			</tr>
			<tr>
				<td>Min</td>
				<td><input type="text" name="min" id="new_variable_modal_min" required /></td>
			</tr>
			<tr>
				<td>Max</td>
				<td><input type="text" name="max" id="new_variable_modal_max" required /></td>
			</tr>
		</table>
		<a class="modal-close" id="new_variable_modal_save" href="#new_variable_modal" onclick="createVariable()">
			<i class="material-icons manage-launch">done</i>
		</a>
		<a class="modal-close" href="#new_variable_modal" onclick="discardVariable()">
			<i class="material-icons manage-delete">clear</i>
		</a>
	</div>
	<div class="modal" id="update_variant_modal">
		<h5>Muuda andmeid</h5>
		<table>
			<tr>
				<td>Tekst</td>
				<td><input type="text" name="text" id="update_variant_modal_text" required /></td>
			</tr>
			<tr>
				<td>Valem</td>
				<td><input type="text" name="formula" id="update_variant_modal_formula" required /></td>
			</tr>
		</table>
		<a class="modal-close" id="update_variant_modal_save" href="#update_variant_modal" onclick="saveVariant()">
			<i class="material-icons manage-launch">done</i>
		</a>
		<a class="modal-close" href="#update_variant_modal" onclick="discardVariant()">
			<i class="material-icons manage-delete">clear</i>
		</a>
	</div>
	<div class="modal" id="new_variant_modal">
		<h5>Andmed</h5>
		<table>
			<tr>
				<td>Tekst</td>
				<td><input type="text" name="text" id="new_variant_modal_text" required /></td>
			</tr>
			<tr>
				<td>Valem</td>
				<td><input type="text" name="formula" id="new_variant_modal_formula" required /></td>
			</tr>
		</table>
		<a class="modal-close" id="new_variant_modal_save" href="#new_variant_modal" onclick="createVariant()">
			<i class="material-icons manage-launch">done</i>
		</a>
		<a class="modal-close" href="#new_variant_modal" onclick="discardVariant()">
			<i class="material-icons manage-delete">clear</i>
		</a>
	</div>
</body>

</html>