<h4>Ülesanded</h4>
<div>
  <ul class="collapsible">
    <% for(let { title, id, last_changed, exercises } of exercise_categories) {
    %>
    <li>
      <div class="collapsible-header"><h6 class="left"><%= title %></h6></div>
      <div class="collapsible-body table">
        <table>
          <thead>
            <tr>
              <th>Ülesanne</th>
              <th>Muutmise aeg</th>
              <th>Redigeeri</th>
              <th>Kustuta</th>
              <th>Avalik</th>
            </tr>
          </thead>
          <tbody class="collapsible">
            <% for(let exercise of exercises) { %>
            <tr>
              <td><%= exercise.title %></td>
              <td><%= exercise.last_changed %></td>
              <td>
                <a
                  href="/admin/edit_exercise/<%= id %>:<%= exercise.id %>"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn orange"
                  >Redigeeri</a
                >
              </td>
              <td>
                <form
                  action="/admin/del_exe"
                  method="post"
                  onsubmit="return confirm('Kindel, et kustutada <%= exercise.title %>');"
                >
                  <input
                    type="hidden"
                    name="id"
                    value="<%= id %>:<%= exercise.id %>"
                  />
                  <input type="submit" value="Kustuta" class="btn red" />
                </form>
              </td>
              <td>
                <form action="/admin/set_exe_published" method="post">
                  <input
                    type="hidden"
                    name="id"
                    value="<%= id %>:<%= exercise.id %>"
                  />
                  <div class="switch">
                    <label>
                      Off <% if(exercise.published) { %>
                      <input
                        type="checkbox"
                        onchange="this.form.submit()"
                        name="state"
                        checked
                      />
                      <% } else { %>
                      <input
                        type="checkbox"
                        onchange="this.form.submit()"
                        name="state"
                      />
                      <% }%> <span class="lever"></span> On
                    </label>
                  </div>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </li>
    <% } %>
  </ul>
</div>
<a class="btn modal-trigger green" href="#add_execat_modal"
  >Lisa uus kategooria</a
>
<a class="btn modal-trigger green" href="#add_exe_modal">Lisa uus ülesanne</a>
<div class="modal" id="add_execat_modal">
  <h5>Lisa uus kategooria</h5>
  <form method="POST" action="/admin/add_exe_cat">
    <table>
      <tr>
        <td>Kategooria</td>
        <td>
          <input type="text" name="title" id="add-execat-title" required />
        </td>
      </tr>
      <tr>
        <td>ID</td>
        <td><input type="text" name="id" id="add-execat-id" required /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Lisa" class="btn green" /></td>
      </tr>
    </table>
  </form>
</div>
<div class="modal" id="add_exe_modal">
  <h5>Lisa uus ülesanne</h5>
  <form action="/admin/add_exe" method="POST">
    <table>
      <tr>
        <td>Pealkiri</td>
        <td><input type="text" name="title" id="add-exe-title" required /></td>
      </tr>
      <tr>
        <td>ID</td>
        <td><input type="text" name="id" id="add-exe-id" required /></td>
      </tr>
      <tr>
        <td>Kategooria</td>
        <td>
          <select name="category" id="add-exe-cat" required>
            <option value="" disabled selected>Vali kategooria</option>
            <% for(let { id, title } of exercise_categories) { %>
            <option value="<%= id %>"> <%= title %> </option>
            <% } %>
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="submit" value="Lisa" class="btn green" /></td>
      </tr>
    </table>
  </form>
</div>
