<h4>Tagasiside</h4>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>UID</th>
        <th>Aeg</th>
        <th>Nimi</th>
        <th>Sisu</th>
        <th>Kustuta</th>
      </tr>
    </thead>
    <tbody>
      <% for(let {id, uid, timestamp, name, text} of feedback) { %>
      <tr>
        <td><%= id %></td>
        <td><%= uid %></td>
        <td><%= timestamp %></td>
        <td><%= name %></td>
        <td><%= text %></td>
        <td>
          <form
            method="POST"
            action="/admin/del_fdb"
            onsubmit="return confirm('Kindel, et kustutada <%= name %>?')"
          >
            <input type="hidden" name="id" value="<%= id %>" />
            <input type="submit" value="Kustuta" class="btn red" />
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
