<% function getUser(uid) { for(let __user of users) { if(__user.uid === uid) {
return __user; } } return null; } %> <% function getTopics(_categoryId) { const
__topics = []; for(let __topic of topics) { if(__topic.parent === _categoryId)
__topics.push(__topic); } return __topics; } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Admin</title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a class="active" href="#sisu"><b>Sisu</b></a>
            </li>
            <li class="tab col s3">
              <a href="#kasutajad"><b>Kasutajad</b></a>
            </li>
            <li class="tab col s3">
              <a href="#tagasiside"><b>Tagasiside</b></a>
            </li>
          </ul>
        </div>
      </div>
      <div id="sisu">
        <h4>Sisu</h4>
        <div>
          <ul class="collapsible">
            <% for(let category of categories) { %>
            <li>
              <div class="collapsible-header">
                <h6 class="left"><%= category.title %></h6>
              </div>
              <div class="collapsible-body table">
                <table>
                  <thead>
                    <tr>
                      <th>Teema</th>
                      <th>ID</th>
                      <th>Muutmise aeg</th>
                      <th>Vaata</th>
                      <th>Redigeeri</th>
                      <th>Kustuta</th>
                    </tr>
                  </thead>
                  <tbody class="collapsible">
                    <% for(let topic of getTopics(category.id)) { %>
                    <tr>
                      <td><%= topic.title %></td>
                      <td><%= topic.id %></td>
                      <td><%= topic.last_changed %></td>
                      <td>
                        <a
                          href="/teemad/<%= category.id %>/<%= topic.id %>"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="btn green"
                          >Vaata</a
                        >
                      </td>
                      <td>
                        <a
                          href="/admin/edit_topic/<%= topic.id %>"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="btn orange"
                          >Redigeeri</a
                        >
                      </td>
                      <td>
                        <form
                          method="POST"
                          action="/admin/del_top"
                          onsubmit="return confirm('Kindel, et kustutada <%= topic.title %>?')"
                        >
                          <input
                            type="hidden"
                            name="id"
                            value="<%= topic.id %>"
                          />
                          <input
                            type="submit"
                            value="Kustuta"
                            class="btn red"
                          />
                        </form>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
        <h5>Lisa uus kategooria</h5>
        <form method="POST" action="/admin/add_cat">
          <table>
            <tr>
              <td>Kategooria</td>
              <td>
                <input type="text" name="title" id="add-cat-title" required />
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td><input type="text" name="id" id="add-cat-id" required /></td>
            </tr>
            <tr>
              <td><input type="submit" value="Lisa" class="btn green" /></td>
            </tr>
          </table>
        </form>
        <h5>Lisa uus teema</h5>
        <form action="/admin/add_top" method="POST">
          <table>
            <tr>
              <td>Pealkiri</td>
              <td>
                <input type="text" name="title" id="add-top-title" required />
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td><input type="text" name="id" id="add-top-id" required /></td>
            </tr>
            <tr>
              <td>Kategooria</td>
              <td>
                <select name="category" id="add-top-cat" required>
                  <option value="" disabled selected>Vali kategooria</option>
                  <% for(let category of categories) { %>
                  <option value="<%= category.id %>">
                    <%= category.title %>
                  </option>
                  <% } %>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="submit" value="Lisa" class="btn green" /></td>
            </tr>
          </table>
        </form>
      </div>
      <div id="kasutajad">
        <h4>Kasutajad</h4>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Nimi</th>
                <th>UID</th>
                <th>Email</th>
                <th>Admin</th>
              </tr>
            </thead>
            <tbody>
              <% for(let _user of users) { %>
              <tr>
                <td><%= _user.displayName %></td>
                <td><%= _user.uid %></td>
                <td><%= _user.email %></td>
                <td>
                  <% if(_user.admin) { %>
                  <form
                    method="POST"
                    action="/admin/del_adm"
                    onsubmit="return confirm('Kindel, et eemaldada <%= _user.displayName %>?')"
                  >
                    <input type="hidden" name="uid" value="<%= _user.uid %>" />
                    <input type="submit" value="Eemalda" class="btn red" />
                  </form>
                  <% } else { %>
                  <form
                    method="POST"
                    action="/admin/add_adm"
                    onsubmit="return confirm('Kindel, et lisada <%= _user.displayName %>?')"
                  >
                    <input type="hidden" name="uid" value="<%= _user.uid %>" />
                    <input type="submit" value="Lisa" class="btn green" />
                  </form>
                  <% } %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <h4>Sessioonid</h4>
        <a href="/admin/refresh_sessions">Kustuta aegunud sessioonid</a>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Kasutaja</th>
                <th>Loomisaeg</th>
              </tr>
            </thead>
            <tbody>
              <% for(let session of sessions) { %>
              <tr>
                <td><%= session.id %></td>
                <td><%= getUser(session.uid).displayName %></td>
                <td><%= session.created_at %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div id="tagasiside">
        <h4>Tagasiside</h4>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>UID</th>
                <th>Aeg</th>
                <th>Nimi</th>
                <th>Sisu</th>
                <th>Kustuta</th>
              </tr>
            </thead>
            <tbody>
              <% for(let _feedback of feedback) { %>
              <tr>
                <td><%= _feedback.id %></td>
                <td><%= _feedback.uid %></td>
                <td><%= _feedback.timestamp %></td>
                <td><%= _feedback.name %></td>
                <td><%= _feedback.text %></td>
                <td>
                  <form
                    method="POST"
                    action="/admin/del_fdb"
                    onsubmit="return confirm('Kindel, et kustutada <%= _feedback.name %>?')"
                  >
                    <input
                      type="hidden"
                      name="id"
                      value="<%= _feedback.id %>"
                    />
                    <input type="submit" value="Kustuta" class="btn red" />
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
