<%
function getCategory(parent) {
  for(let j in categories) {
    const category = categories[j];
    if(category.id = parent)
      return category;
  }

  return null;
}
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../../imports/head.ejs %>
    <title>Admin data</title>
  </head>
  <body>
    <% include ../../imports/sidenav.ejs %>
    <% include ../../imports/navbar.ejs %>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#kategooriad">Kategooriad</a></li>
            <li class="tab col s3"><a href="#teemad">Teemad</a></li>
          </ul>
        </div>
      </div>
      <div id="kategooriad">
        <h4>Kategooriad</h4>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Kategooria</th>
                <th>ID</th>
                <th>Kustuta</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i in categories) { const category = categories[i]; %>
              <tr>
                <td>
                  <%= category.title %>
                </td>
                <td>
                  <%= category.id %>
                </td>
                <td>
                  <form method="POST" action="data/del_cat" onsubmit="confirm('Kindel, et kustutada <%= category.title %>?')">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <input type="submit" value="Kustuta" class="btn red">
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <h5>Lisa uus kategooria</h5>
        <form method="POST" action="data/add_cat">
          <table>
            <tr>
              <td>Kategooria</td>
              <td>
                <input type="text" name="title" id="add-cat-title" required>
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                <input type="text" name="id" id="add-cat-id" required>
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" value="Lisa" class="btn green">
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div id="teemad">
        <h4>Teemad</h4>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Teema</th>
                <th>ID</th>
                <th>Kategooria</th>
                <th>Muutmise aeg</th>
                <th>Vaata</th>
                <th>Redigeeri</th>
                <th>Kustuta</th>
              </tr>
            </thead>
            <tbody>
              <% for(i in topics) { const topic = topics[i]; %>
              <tr>
                <td>
                  <%= topic.title %>
                </td>
                <td>
                  <%= topic.id %>
                </td>
                <td>
                  <%= getCategory(topic.parent).title %>
                </td>
                <td>
                  <%= topic.last_changed %>
                </td>
                <td>
                  <a href="/teemad/<%= getCategory(topic.parent).id %>/<%= topic.id %>" target="_blank" rel="noopener noreferrer"
                    class="btn green">Vaata</a>
                </td>
                <td>
                  <a href="/admin/data/edit_topic/<%= topic.id %>" class="btn orange">Redigeeri</a>
                </td>
                <td>
                  <form method="POST" action="data/del_top" onsubmit="confirm('Kindel, et kustutada <%= topic.title %>?')">
                    <input type="hidden" name="id" value="<%= topic.id %>">
                    <input type="submit" value="Kustuta" class="btn red">
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <h5>Lisa uus teema</h5>
        <form action="/admin/data/add_top" method="POST">
          <table>
            <tr>
              <td>
                Pealkiri
              </td>
              <td>
                <input type="text" name="title" id="add-top-title" required>
              </td>
            </tr>
            <tr>
              <td>
                ID
              </td>
              <td>
                <input type="text" name="id" id="add-top-id" required>
              </td>
            </tr>
            <tr>
              <td>Kategooria</td>
              <td>
                <select name="category" id="add-top-cat" required>
                  <option value="" disabled selected>Vali kategooria</option>
                  <% for(let i in categories) { const category = categories[i]; %>
                  <option value="<%= category.id %>">
                    <%= category.title %>
                  </option>
                  <% } %>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" value="Lisa" class="btn green">
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
