<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Ülesanne - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h4>Ülesande läbivaatus</h4>
      <p>Ülesanne: Astmed</p>
      <p>
        Kokku punkte:
        <font
          color="<%= (points == 0 ? 'black' : (points > 0 ? 'green' : 'red' )) %>"
          ><%= points %></font
        >
      </p>
      <table>
        <thead>
          <tr>
            <th>Korrektsus</th>
            <th>
              Sinu vastused <br />
              [Tähis, Arvkordaja, Eesliide]
            </th>
            <th>
              Õiged vastused <br />
              [Tähis, Arvkordaja, Eesliide]
            </th>
            <th>Punktid</th>
          </tr>
        </thead>
        <tbody>
          <% for(let obj of data) { %>

          <tr>
            <td>
              <font color="<%= obj.isCorrect ? 'green' : 'red' %>">
                <%= obj.isCorrect ? 'Õige' : 'Vale' %>
              </font>
            </td>
            <td><%= obj.token %>, <%= obj.power %>, <%= obj.name %></td>
            <td>
              <%= obj.obj.token %>, <%= obj.obj.power %>, <%= obj.obj.name %>
            </td>
            <td>
              <font color="<%= obj.isCorrect ? 'green' : 'red' %>">
                <%= obj.isCorrect ? '1' : '-1' %>
              </font>
            </td>
          </tr>
        </tbody>
        <% } %>
      </table>
    </div>
  </body>
</html>
