<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Ülesanne - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <% const {id, category_id, title, data, metadata} = exercise; %>

      <h4><%= title %></h4>
      <p><%- data.text %></p>
      <p>Vastus ümarda <%= data.precision %> komakohani.</p>
      <form
        action="/ulesanded/e/<%= category_id %>:<%= id %>/submit"
        method="post"
      >
        <input type="hidden" name="o_id" value="<%= o_id %>" />
        <label for="exercise-answer">Vastus</label>
        <input type="text" name="answer" id="exercise-answer" required />
        <input type="submit" value="Vasta" class="btn green" />
      </form>
    </div>
  </body>
</html>
