<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Ülesanne - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h4>Lahendasid ülesande <%= quiz.title %></h4>
      <p>Õigeid <%= vars.corrects %>/<%= vars.total %></p>
      <p>Teenisid <%= vars.points %> punkti.</p>
      <% for({id, question, correctAnswer, correct, provided} of data) { %>
      <pre>Küsimus: <%= question %>
Õige: <font color="<%= correct ? 'green' : 'red' %>"><%= correct ? 'jah' : 'ei' %></font>
Sinu vastus: <%= provided %>
Õige vastus: <%= correctAnswer %></pre>
      <% } %>
      <p>
        <a href="/ulesanded/q/<%= quiz.category_id %>:<%= quiz.id %>"
          >Lahenda uuesti</a
        >
      </p>
      <% if(user) { %>
      <p>
        <a href="/ulesanded/lahendatud">Vaata kõiki lahendatud ülesandeid</a>
      </p>
      <% } %>
    </div>
  </body>
</html>
