<!DOCTYPE html>
<html lang="et">
  <head>
    <% include ../imports/gtm_head.ejs %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Ülesanne - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h4>Lahendasid ülesande <%= exercise.title %></h4>
      <p>
        <%= isCorrect ? 'Teenisid' : 'Kaotasid' %>
        <font color="<%= isCorrect ? 'green' : 'red' %>"
          ><%= Math.abs(points) %></font
        >
        punkti!
      </p>
      <p>
        Õige:
        <font color="<%= isCorrect ? 'green' : 'red' %>"
          ><%= isCorrect ? 'jah' : 'ei' %></font
        >
      </p>
      <p>Õige vastus: <%= correctAnswer %></p>
      <p>Sinu vastus: <%= answer %></p>
      <p>
        <a href="/ulesanded/e/<%= exercise.category_id %>:<%= exercise.id %>"
          >Lahenda uuesti</a
        >
      </p>
      <% if(user) { %>
      <p>
        <a href="/ulesanded/lahendatud">Vaata kõiki lahendatud ülesandeid</a>
      </p>
      <% } %>
    </div>
  </body>
</html>
