<!DOCTYPE html>
<html lang="et">
  <head>
    <% include ../imports/gtm_head.ejs %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title>Ülesanne - <%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <% const points = (user.metadata != null ? user.metadata.exercise_points :
      0) %>
      <h4>Sinu lahendatud ülesanded</h4>
      <p>Kokku oled lahendanud <%= solvedExercises.length || 0 %> ülesannet!</p>
      <p>
        Kokku on sul
        <font
          color="<%= (points ? (points == 0 ? 'black' : (points > 0 ? 'green' : 'red' )) : 'black') %>"
          ><%= points || 0 %></font
        >
        punkti!
      </p>
      <p><a href="/ulesanded/edetabel">Ülesandepunktide edetabel</a></p>
      <ul>
        <% for(let {id, eid, rid, title, solved, type, timestamp, points, data}
        of solvedExercises) { %>
        <li id="<%= id %>">
          <h5><a href="/ulesanded/<%= type %>/<%= eid %>/"><%= title %></a></h5>
          <p><a href="/ulesanded/vaata/<%= rid %>">Läbivaatus</a></p>
          <pre>
Õige: <%= (type == 'e' ? (solved ? 'jah' : 'ei') : (data.corrects + '/' + data.total)) %>
<% if(solved) { %>Teenisid <% } else { %>Kaotasid <% } %> <%= Math.abs(points) %> punkti.
          </pre>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
