<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../imports/head.ejs %>
    <title>
      <%= (selectedField ? selectedField.title + ' - ' : '') + (selectedTopic ? selectedTopic.title + ' - ' : '') + pageTitle %>
    </title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %>
    <% include ../imports/navbar.ejs %>
    <div class="container">
      <% if(bookmarked) { %>
      <a href="/bookmarks/del?id=<%= selectedTopic.id %>-<%= selectedField.id %>"><i class="material-icons">bookmark</i></a>
      <% } else { %>
      <a href="/bookmarks/set?id=<%= selectedTopic.id %>-<%= selectedField.id %>&title=<%= escape((selectedField ? selectedField.title + ' - ' : '') + (selectedTopic ? selectedTopic.title: '')) %>&url=<%= escape(pathname) %>"><i
          class="material-icons">bookmark_border</i></a>
      <% } %>
      <%- data %>
    </div>
  </body>
</html>
