<%
function selected(topic) {
  for(i in topics) {
    const _topic = topics[i];
    if(topic.id === _topic.id)
      return _topic;
  }
}
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../imports/head.ejs %>
    <title>
      <%= pageTitle %>
    </title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %>
    <% include ../imports/navbar.ejs %>
    <div class="container">
      <% if(selectedTopic) { %>
      <h3>
        <a href="/teemad/<%= topic.link_prefix %>">
          <%= selectedTopic.title %>
        </a>
      </h3>
      <ol>
        <% for(j in selectedTopic.fields) { field = selectedTopic.fields[j]; %>
        <li>
          <a href="/teemad/<%= selectedTopic.link_prefix %><%= field.link %>">
            <%= field.title %>
          </a>
        </li>
        <% } %>
      </ol>
      <% } else { %>
      <ol>
        <% for(i in topics) { topic = topics[i]; %>
        <li>
          <h3>
            <a href="/teemad/<%= topic.link_prefix %>">
              <%= topic.title %>
            </a>
          </h3>
        </li>
        <ol style="list-style-type: upper-roman;">
          <% for(j in topic.fields) { field = topic.fields[j]; %>
          <li>
            <a href="/teemad/<%= topic.link_prefix %><%= field.link %>">
              <%= field.title %>
            </a>
          </li>
          <% } %>
        </ol>
        <% } %>
      </ol>
      <% } %>
    </div>
  </body>
</html>
