<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../imports/head.ejs %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <% include ../imports/sidenav.ejs %> <% include ../imports/navbar.ejs %>
    <div class="container">
      <h5><%= category.title %></h5>
      <ol>
        <% for(let topic of category.topics) { %>
        <li>
          <a href="/teemad/<%= category.id %>/<%= topic.id %>"
            ><%= topic.title %></a
          >
        </li>
        <% } %>
      </ol>
    </div>
  </body>
</html>
